*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';

}

body{
    background-color: black;

}



.menu{
    width: 400px;
    float: left;
    height: 70px;
}
 ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #6DB9EF;
    font-family: Arial;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

ul li a:hover{
    color: white;
}


.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    font-size: 50px;
    color: #6DB9EF;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    color: skyblue;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.content h2{
    color: #6DB9EF;
}

.content p{
    color: #EAECCC;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.img{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;

}

.img img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.img:hover img{
    transform: scale(1.2);
}

.content{
    flex: 1;
}